body{
    background-image: radial-gradient(circle, rgb(235, 242, 236), rgb(167, 235, 231), rgb(53, 178, 241));
    background-size: cover;
    height: 100vh;
}
.frgt{
    position: relative;
    width: 25%;
    margin: auto;
    margin-top: 0.3%;
    font-size: larger;
    text-align: left;
    border-style: solid;
    border-radius: 10px;
    background-image: linear-gradient(45deg,lightblue,rgb(182, 249, 255));
}
.validate,.gnc{
    position: relative;
    font-size: larger;
    text-align: right;
}
div form{
    margin: 2%;
}
form input{
    margin-bottom: 2%;
}
.frgt #email{
    position: relative;
    margin-left: 25%;
    
}
.frgt #captcha{
    margin-left: 8%;
}
.frgt #pass1{
    margin-left: 18%;
}
body #navigation-items a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
@media only screen and (max-width: 400px) {
    .frgt{
        margin-top: 25%;
        width: 80%;
    }
    body{
     height: 100vh;
    }
    .frgt #email{
        /* position: relative; */
        margin-left: 1%;
        
    }
    .frgt #captcha{
        margin-left: 18%;
    }
    .frgt #pass2{
        margin-left: 18%;
    }
   }