
body{
    background: #151719;
}
.header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifsans-serif;
    font-weight: 1000;
    font-size: 75px;
    margin: auto;
    color: black;
    text-align: center;
    margin-top: 7%;
    padding-bottom: 15%;
}
.main{
    background-image: url("../Resources/ga.gif");
    background-size: cover;
}
div #navigation-items a{
    /* position: fixed; */
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div #navigation-items{
    text-align: right;
    margin-right: 2%;
    font-size: 20px;
}
  
.second{
    text-align: left;
    color: aliceblue;
}
.second p{
    text-align: center;
    margin-left: 53%;
    margin-top: -22%;
    font-size: 40px;
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    color: white;
}
div .text{
    position: relative;
    margin: -16% 53.5%;
    width: 35%;
    font-size: 25px;
    color: rgb(148, 148, 148);
}
.img,.img1{
    position: relative;
    margin: 28% 0 0 1%;
    width: 45%;
    text-align: right;
}
.img2{
    width: 45%;
    margin-left: 7%;
}
.left{
    color: white;
    /* border-style: solid; */
    float: left;
    width: 45%;
    margin: -1% 1% 0% ;
}
.right{
    /* border-style: solid; */
    color: white;
    margin-left: 53.2%;
   
}
.left p{
    opacity: 0.8;
}
.right p{
    opacity: 0.8;
}
.left h1 a{
    font-size: 40px;
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
}
.right h1 a{
    font-size: 40px;
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
}
.left p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
.right h1{
    font-size: 40px;
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.left p{
    width: 90%;
    font-size: 25px;
    color: rgb(148, 148, 148);
}    
.right p{
    width: 90%;
    font-size: 25px;
    color: rgb(148, 148, 148);
    margin-bottom: 20%;
}    
footer{
  
    margin-left: 45%;
    padding-bottom: 0.5%;
    font-size: 30px;
    color: rgb(51, 51, 51);
}
@media (max-width:400px){
    .img{
        width: 63vb;
        margin-left: 0%;
    }
    .img1{
        margin-top: 30%;
        width:63vb;
        margin-left: 0%;
    }
    .img2{
        margin-top: 30%;
        width:63vb;
        margin-left: 0%;
    }
    div .text{
        width: 100%;
        margin-left: 0%;
        margin-top: 25%;
        font-size: 20px;
    }
    .second p{
        margin-left: 0%;
        margin-top: 0%;
    }
    .left a{
        position: absolute;
        margin-top: -10%;
    
    }
    .left p{
        position:absolute;
        margin-top: 45%;
    }
    .img2{
        position: absolute;
        margin-top: 100%;
    }
    img .img2{
        position: absolute;
        margin-left: -4%;
    }
    a .img2{
        position: absolute;
        margin-left: -95%;
        margin-top: 200%;
    }
    .right a{
        position: absolute;
        margin-top: 152%;
        margin-left: -50%;
        font-size: 20px;
    }
    .right p{
        position: absolute;
        margin-top: 208%;
        margin-left: -50%;
    }
    footer{
        margin-top: 250%;
        margin-left: 15%;
    }
     
} 