body {
    font-family: Arial, sans-serif;
    background:black;
}

header{
    text-align: center;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#navigation-items a{
    text-align: right;
    margin-right: 2%;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
header{
    color: #0077b6;
}

img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

p,ol{
    color: #caf0f8;
    width: 50%;
    text-align: left;
    margin: auto;
    font-size: 25px;
}

#he{
    color: #48cae4 ;
    text-decoration: underline;
    font-size: 40px;
}
h3{
    color: #48cae4;
}
footer{
    font-size: 20px;
    color: #0077b6;

    text-align: center;
}