body{
    background-image: url('../Resources/seabg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}
.box{
    /* font-size: larger; */
    border-style: solid;
    width: 40%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 2%;

}
#header{
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;
}
div img{
    position: relative;
    margin: 2% 0% 0% 2%;
    margin-bottom: -2%;
}

#header span{
    position: absolute;
    margin-top:-11%;
    margin-left: -7%;
    border-style: solid;
    border-radius: 3px;
    padding:0.5%;
    cursor: pointer;
    
       
}
div h4{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin-bottom: -1rem;
}