h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.sgnup{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.main{
    position: relative;
    width: 30%;
    margin: auto;
    text-align: center;
    border-width:5px;
    border-color: black;
    border-style: solid;
    border-radius: 2rem;
    margin-top: 11%;
    background-image: linear-gradient(60deg,rgb(173, 200, 230),blue 150%);
    color: white;
}
input{
    background-color: rgb(198, 195, 235);
    border-style: solid;
    border-color: black;
    border-radius: 4px;
}
#sg,#rs{
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
    font-weight: bold;
    padding: 0rem 1rem;
}
#rs{
    padding: 0rem 1.6rem;
    margin-left: 1rem;
}
body{
    /* background-image: linear-gradient(to left, rgba(255,0,0,0) , rgb(250, 237, 47)); */
    background-image: url('../Resources/signup.jpg');
    background-size: 100%;
}
body #navigation-items a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}