body{
    background: #151719;
}
body #navigation-items a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.maindiv{
    margin: auto;
    width: 50%;
    color: white;
}
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 2%;
}
.maindiv h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 40PX;
   }
.maindiv  {
    font-size: 22px;
}
.maindiv .list{
    font-size: 22px;
    opacity: 0.8;
}
footer{
  color: rgb(62, 62, 62);
  text-align: center;
  font-size: 30px;
}
.maindiv p{
    opacity: 0.8;
}
